.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  mat-sidenav {
    width: 15%;
    min-width:10rem;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      min-width: 70%;
      margin-top: 2rem;
      margin-bottom: 4rem;
      border-radius: 50%;
    }

    div {
      padding: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #E5E9F2;
      }
      &:focus {
        background-color: #E5E9F2;
      }
    }
    .selected {
      background-color: #E5E9F2;
    }
  }

  mat-sidenav-content {
    background-color: #E5E9F2;
  }

  div.row {
    margin-top: 1rem;
  }
}
