.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  mat-sidenav {
    width: 15%;
    min-width:10rem;

    nb-icon {
      font-size: 3rem;
    }
  }

  mat-sidenav-content {
   
  }

}