<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <div class="d-flex justify-content-start" (click)="router.navigate(['/dashboard'])">
      <nb-icon icon="arrow-ios-back"></nb-icon>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <nb-chat title="Nebular Conversational UI" size="large">
      <nb-chat-message
        type="text"
        message="Hello world!">
      </nb-chat-message>
      <nb-chat-form></nb-chat-form>
    </nb-chat>
  </mat-sidenav-content>
</mat-sidenav-container>

  