<div class="row">
  <div class="col-sm">
    <agm-map [latitude]="-12.0837667" [longitude]="-76.9773847">
        <agm-marker [latitude]="-12.0837667" [longitude]="-76.9773847"></agm-marker>
        <ng-template *ngFor="let point of mapPoints">
          <agm-marker [latitude]="point.lat" [longitude]="point.lng"></agm-marker>
        </ng-template>
    </agm-map>
    <p *ngFor="let point of mapPoints">{{point.lat}} {{point.lng}}</p>
  </div>
  <div class="col-sm right-container">
    <table mat-table [dataSource]="topTrabajadores" class="mat-elevation-z8">
      
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="jobs">
        <th mat-header-cell *matHeaderCellDef> Trabajos hechos </th>
        <td mat-cell *matCellDef="let element"> {{element.jobs}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>