<div class="row">
  <div class="col-sm">
    <div class="row">
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Seleccionar campo</mat-label>
          <mat-select [(ngModel)]="filterField">
            <mat-option *ngFor="let field of userFields" [value]="field">
              {{field}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field>
          <input (change)="filterList()" [(ngModel)]="filterValue" matInput placeholder="Valor" type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-sm right-container">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let user of filteredUsers">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{user.uid}}
          </mat-panel-title>
          <mat-panel-description>
            {{user.type}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let item of user.info">
            {{item}}
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>